<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual Expense Input</title>
</head>
<body>
    <h1>Manual Input</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <script>
        document.getElementById('expenseForm').addEventListener('submit', function(e) {
            const receiptFile = document.querySelector("input[name='receipt_file']");
            const errorMessages = [];

            // Displays errors or allows them to submit
            if (errorMessages.length > 0) {
                e.preventDefault(); 
                alert(errorMessages.join("\n"));
            }
        });
    </script>



</body>
</html>
